@charset "UTF-8";

/* 回答はここに書いてね */
.q4 {
  padding: 20px;
  box-sizing: border-box;
}
.q4_hyou {
  display: table;
  margin-top: 20px;
  width: 100%;
  background-color: #ECF1F2;
}
.q4_hyou:first-child {
  margin-top: 0;
}
.q4_hyou_sen {
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4_hyou_sen.pink {
  width: 100px;
  background-color: #FDC8B8;
}
.q4_hyou_sen.purple {
  background-color: #E0ABD9;
}
.q4_hyou_sen.blue {
  width: 100px;
  background-color: #B6D8ED;
}
.q4_hyou_sen.yellow {
  background-color: #E5D32E;
}
.q4_hyou_sen.red {
  background-color: #EC8F9A;
}
.q4_hyou_sen.green {
  width: 500px;
  background-color: #8FDCAD;
}
/* 回答はここに書いてね */
